<ion-content class="ion-padding">
<swiper-container style="direction: ltr;"
  #swiper
  [dir]="'rtl'"
  [pagination]="true"
  [spaceBetween]="32"
  [slidesPerView]="1"
>
  <swiper-slide *ngFor="let slide of slides">
    <div class="slide-content">
      <h2 class="slide-title">{{ slide.title }}</h2>
      <img [src]="slide.image" [alt]="slide.title" class="slide-image" />
      <p class="slide-description" [innerHTML]="slide.description"></p>
    </div>
  </swiper-slide>
</swiper-container>

  <div class="onboarding-footer">
    <ion-button expand="block" class="btn-primary" (click)="goToRegister()">
      ثبت نام
    </ion-button>
     <ion-button expand="block" class="btn-info" (click)="goToLogin()">ورود</ion-button>
  </div>
</ion-content> 